<configuration>

    <appender name="STDOUT" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%level] %logger{13} %message%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-TRACE}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
